.formRegister{
  display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
}

.togglePasswordButton{
 position: absolute;
   right: 0.5rem;
   top:50%;
   transform: translateY(-50%);
}

.togglePasswordButton:hover{
   margin-left: 8px;
   cursor: pointer;
}

.submitButton{
  padding: 20px 185px;
  gap: 10px;
  border-radius: 10px;
  margin-top: 36px;
  background: var(--not-active, #f5ffb6);
}

.errorMessage{
   color: red;
   font-size: 12px;
   margin-top: 4px;
}