@import "@/styles/mixins";
@import "@/styles/breakpoints";

.dropdownWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 280px;
  font-size: 14px;
  background-color: var(--background);
  border: 1px solid var(--color-yellow);
  border-radius: 10px;
  position: absolute;
  top: 50px;
  right: -20px;
  z-index: 1;
  @media (min-width: 1024px) {
    font-size: 16px;
    width: 320px;
  }

  & li {
    padding: 10px 14px;
    border-bottom: 1px solid #9d9d9d;
  }

  & li:last-child {
    border-bottom: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 17px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid var(--color-yellow);
  }

  &::after {
    content: "";
    position: absolute;
    top: -19px;
    right: 19px;
    width: 0;
    height: 0;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 19px solid var(--background);
  }
}

.nameWrapper {
  display: flex;
  column-gap: 6.5px;
  align-items: center;
}
