@import "../../styles/mixins";
@import "../../styles/breakpoints";

.headerTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--f-size-small);
  background-color: var(--background);

  @media (min-width: 768px) {
    margin-bottom: 28px;
    background: #b4b4b4;
    border-bottom: none;
    border-bottom: 2px solid #000000;
  }
  @media (min-width: 1024px) {
    margin-bottom: 40px;
  }
}

.headerContainer {
  width: 100%;
  max-width: 1440px;
  display: flex;
  justify-content: center;
  padding: 20px 0px 40px;

  @media (min-width: 768px) {
    justify-content: space-between;
    gap: 10px;
    padding: 30px 30px 26px;
  }
}

.addAdvertisingContainer {
  background-color: #b4b4b4;
  display: flex;
  align-items: center;
  gap: 6px;
  display: none;

  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1024px) {
    gap: 10px;
  }
}

.headerButton {
  border-radius: 10px;
  padding: 12px 28px;
  margin-right: 35px;
  color: var(--label);
  font-size: var(-body-text);

  @media (max-width: 480) {
    font-size: 16px;
    padding: 12px 20px;
  }
  @media (min-width: 1024px) {
    padding: 18px 59px;
    font-size: 20px;
    margin-right: 50px;
  }
}

.registerContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 16px;
}

.iconDropdown {
  position: relative;
}
