.form{
  display: flex;
   flex-direction: column;
   align-items: center;
   gap: 24px;
}

.button{
   position: absolute;
   right: 0.5rem;
   top: 50%;
   transform: translateY(-50%);
}

.button:hover{
 cursor: pointer;
 margin-left: 8px;
}

.submitButton{
   padding: 20px 185px;
    gap: 10px;
    border-radius: 10px;
    margin-top: 36px;
    background: var(--not-active, #f5ffb6);
}