.footerTag {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 76px;
  border-top: 2px solid #e5ff46;
  background: #b4b4b4;

  @media (min-width: 768px) {
    border-top: 3px solid #000000;
  }
  @media (min-width: 1200px) {
    margin-top: 183px;
  }
}

.footerContainer {
  width: 100%;
  max-width: 1440px;
  display: none;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px 34px;
  flex-wrap: wrap;

  @media (min-width: 768px) {
    display: flex;
  }
  @media (min-width: 1024px) {
    padding: 16px 30px 50px;
  }
}

.wrapperContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 870px) {
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}

.hidden {
  display: none;
  @media (max-width: 870px) {
    display: block;
  }
}

.contactText {
  font-size: 19px;
  @media (max-width: 870px) {
    font-size: 16px;
  }
  @media (max-width: 646px) {
    font-size: 12px;
  }
}

.wrapperSearch {
  width: 62%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (min-width: 1024px) {
    display: block;
    width: 635px;
  }
}

.wrapperLogo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 150px;
}

.footerText {
  font-size: var(--large-body-medium);
  margin-bottom: 20px;
  text-align: right;
  width: 340px;
  @media (min-width: 1024px) {
    width: 100%;
    text-align: start;
    font-size: var(--f-size-h4);
  }
}

.wrapperContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 24px;

  @media (min-width: 1024px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    row-gap: 0px;
  }
}

.contactContainer {
  display: flex;
  flex-direction: column;
  order: 3;
  gap: 16px;

  @media (max-width: 480px) {
    order: 2;
  }
}

.mailWrapper {
  display: flex;
  width: 100%;
  @media (min-width: 1024px) {
    width: auto;
  }
}

.social {
  display: flex;
  justify-content: space-between;
}

.emailInput {
  padding: 10px 0px 10px 10px;
  width: 100%;
  height: 43px;
  border-radius: 10px 0px 0px 10px;
  border: 1px solid var(--not-active, #f5ffb6);
  background: var(--background, #fff);
  @media (min-width: 1024px) {
    width: 300px;
    height: 55px;
  }
}

.buttonSubscribe {
  border-radius: 0px 10px 10px 0px;
  padding: 20.5px 28px;
  height: 41px;
  font-size: 16px;
  position: relative;
  @media (min-width: 1024px) {
    padding: 26px 40px;
  }
}

.facebookIcon {
  margin: 0 16px 0 20px;
}

.instagramIcon {
  margin: 0;
  fill: var(--button);
  stroke-width: 1px;
  stroke: var(--input-text);
}

.marketPlace {
  width: 100%;
  display: none;

  height: 39px;
  justify-content: center;
  align-items: center;
  background-color: #000000;

  @media (min-width: 768px) {
    display: flex;
  }
}

.marketPlaceText {
  font-size: 16px;
  font-weight: 400;
  color: #fff;
}

.footerContainerMobile {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--button, #e5ff46);
  background: #fff;
  padding: 12px 20px;
  font-size: var(--f-size-small);
  @media (min-width: 768px) {
    display: none;
  }

  & a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & span {
      font-size: 12px;
    }
  }
}

.mobilePaginationButton {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}
