@import "@/styles/mixins";
@import "@/styles/breakpoints";

.bannerLabelContainer {
  position: relative;
  width: 100%;
  height: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 53px;
  height: 34px;
  @media (min-width: 768px) {
    justify-content: center;
  }
  @media (min-width: 1024px) {
    width: 68px;
    height: 44px;
  }
}

.bannerIcon {
  fill: var(--not-active);
  margin: 0;

  @include media-min($breakpoint-tablet) {
    width: 100%;
    height: 100%;
  }
}

.bannerIconSale {
  fill: var(--error);
}

.bannerLabel {
  position: absolute;
  top: 46%;
  left: 28%;
  translate: -50% -50%;
  font-weight: 400;
  font-size: 6px;
  @media (min-width: 768px) {
    font-size: 12px;
    top: 50%;
    left: 50%;
  }
  @media (min-width: 1024px) {
    font-size: 14px;
  }
}

.bannerTitle {
  margin-top: 4px;
  font-weight: 200;
  font-size: 13px;
  color: var(--background);

  @include media-min($breakpoint-tablet) {
    margin-top: 37px;
    font-weight: 400;
    font-size: 30px;
  }
  @media (min-width: 1024px) {
    margin-top: 4px;
  }

  @include media-min($breakpoint-laptop) {
    font-weight: 400;
    font-size: 40px;
  }
}
.bannerAdditionalInfo {
  margin-top: 2px;
  font-weight: 400;
  font-size: 8px;
  color: var(--background);

  @include media-min($breakpoint-tablet) {
    margin-top: 6px;
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
  }
}
.bannerPrice {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
  color: var(--background);

  @include media-min($breakpoint-tablet) {
    margin-top: 32px;
    font-size: 24px;
  }
}

.bannerButton {
  border-radius: 4px;
  padding: 4px 10px;
  height: 14px;
  margin-top: 5px;
  font-weight: 400;
  font-size: 5px;

  @include media-min($breakpoint-tablet) {
    margin-top: 10px;
    border-radius: 10px;
    width: 113px;
    height: 39px;
    font-size: 12px;
  }
  @media (min-width: 1024px) {
    font-size: 16px;
    height: 51px;
    width: 147px;
  }
}
