@import "../../styles/mixins";
@import "../../styles/breakpoints";

.searchContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0 7%;

  @media (min-width: 1024px) {
    padding: 0 10%;
  }
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1024px;
}

.searchInputWrapper {
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin-right: 10px;
  @include media-max($breakpoint-mobile) {
    margin-right: 0;
  }
}

.searchInput {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #e5ff46;
  border-radius: 10px;
  transition: all 0.3s ease;
  @include media-min($breakpoint-mobile) {
    border: none;
    background-color: #b4b4b4;
    color: #ffffff;
    padding: 10px;
  }
  @include media-min($breakpoint-tablet) {
    padding: 15.5px;
  }
  @media (min-width: 1024px) {
    padding: 20px;
  }
}

.searchInput::placeholder {
  @include media-min($breakpoint-mobile) {
    color: #fff;
    font-size: 16px;
  }
  @include media-min($breakpoint-tablet) {
    font-size: 18px;
  }
}

.searchButton {
  padding: 3px 14px 2px;
  background-color: #e5ff46;
  border: 1px solid #e5ff46;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;

  @include media-min($breakpoint-mobile) {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 10px 15px;
    &::before {
      content: "Знайти";
    }
  }
  @include media-min($breakpoint-tablet) {
    padding: 14px 31.5px;
  }
  @media (min-width: 1024px) {
    padding: 18px 40px;
  }
}

.searchButtonIcon {
  position: relative;

  @include media-min($breakpoint-mobile) {
    display: none;
  }
}

@include media-min($breakpoint-mobile) {
  .searchButtonIcon {
    display: none;
  }
}

.searchInputIconWrapper {
  position: absolute;
  right: 1%;
  display: flex;
  align-items: center;
  width: 28px;
  height: 28px;
  margin-right: 10px;
  @media (max-width: 480px) {
    display: none;
  }

  & svg {
    width: 28px;
    margin: 0px;
  }
}
