.buttonContainer{
   display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 35px;
    margin-top: 76px;
}

.handleButton{
  padding: 10px 63px;
   border-radius: 10px;
   color: var(--label, #000);
   font-size: 32px;
   font-weight: 400;
   border: none;
  
 background-color: transparent;
  cursor: pointer;
  border-bottom: none;
  &--active {
   border-bottom: 1px solid var(--label, #000);
  }
}